<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis Cursos - SIGRA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/activity-detail.css">
    <link rel="stylesheet" href="../css/manager.css">
</head>
<body>
    <nav class="navbar"></nav>

    <main class="ContenedorMisClases">
        <h1 class="TituloMisCursos">
            Mis Cursos
        </h1>
        
        <section class="cursosDisponibles">
            <div class="skeleton-card"></div>
            <div class="skeleton-card"></div>
            <div class="skeleton-card"></div>
        </section>
    </main>

    <script src="../components/nav.js" defer></script>
    <script src="../js/manager.controller.js" defer></script>
</body>
</html>