<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/manager.css">
    <title>Mis Cursos - SIGRA</title>
</head>
<body>
    <nav class="navbar"></nav>

    <main class="ContenedorMisClases">
        <h1 class="TituloMisCursos">Mis Cursos</h1>
        
        <section class="cursosDisponibles">
           <p>Cargando cursos...</p>
        </section>
    </main>

    <script src="../components/nav.js" defer></script>
    <script src="../js/manager.controller.js" defer></script>
</body>
</html>